extends layout

block head
  link(href='//cdn-images.mailchimp.com/embedcode/classic-081711.css', rel='stylesheet', type='text/css')

block content
  .landing
    .info
      .title
        h2 Michael Rowley
        h3 creative

      .actions
        ul.links
          li
            a(href='http://vizcab.tumblr.com' target='_blank')
              img(src='/img/portfolio_icon_48.svg')
              h4 Work
          li
            a(href='https://www.linkedin.com/profile/view?id=AAMAAAAVn2sB2BNhb5qLWlPhsDhmDd4ub8txGsE&trk=hp-identity-name' target='_blank')
              img(src= '/img/linkedin_icon_48.svg')
              h4 LinkedIn
          li
            a(href='mailto:vizcabulary@gmail.com')
              img(src= '/img/send_icon_48.svg')
              h4 Email
          li
            a(href='https://twitter.com/50Fitty' target='_blank')
              img(src='/img/twitter_icon_48.svg')
              h4 @50Fitty
          li
            a(href='http://questmass101.com' target='_blank')
              img(src='/img/questmass_icon_48.svg')
              h4 QuestMass101
          li
            a(href='tel:+16504559183')
              img(src='/img/phone_icon_48.svg')
              h4 Phone

        include _mailchimp

    img.headshot(src='/img/michael.jpg')
