extends layout

block content
  .info
    h2 Michael Rowley
    h3 650 455-9183

    ul.links
      li: a Email
      li: a Portfolio
      li: a LinkedIn Profile
      li: a 50Fitty Twitter
      li: a QuestMass 101

  img.headshot(src='/img/michael.jpg')
