extends layout

block content
  .landing
    .info
      h2 Michael Rowley
      h3 650 455-9183

      ul.links
        li: a(href='mailto:vizcabulary@gmail.com') Email
        li: a(href='https://www.behance.net/vizcab', target='_blank') Portfolio
        li: a(href='https://www.linkedin.com/profile/view?id=AAMAAAAVn2sB2BNhb5qLWlPhsDhmDd4ub8txGsE&trk=hp-identity-name', target='_blank') LinkedIn
        li: a(href='https://twitter.com/50Fitty', target='_blank') @50Fitty
        li: a(href='http://questmass101.com', target='_blank') QuestMass 101

    img.headshot(src='/img/michael.jpg')
