extends layout

block content
  .landing
    .info
      h2 Michael Rowley
      h3 650 455-9183

      ul.links
        li: a(href='mailto:vizcabulary@gmail.com') Email
        li: a(href='http://vizcab.tumblr.com') Portfolio
        li: a(href='https://www.linkedin.com/profile/view?id=AAMAAAAVn2sB2BNhb5qLWlPhsDhmDd4ub8txGsE&trk=hp-identity-name') LinkedIn Profile
        li: a(href='https://twitter.com/50Fitty') 50Fitty Twitter
        li: a(href='http://questmass101.com') QuestMass 101

    img.headshot(src='/img/michael.jpg')
