extends layout

block head
  link(href='//cdn-images.mailchimp.com/embedcode/classic-081711.css', rel='stylesheet', type='text/css')
  style(type='text/css').
    #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

block content
  .landing
    .info
      h2 Michael Rowley
      h3 650 455-9183

      ul.links
        li: a(href='mailto:vizcabulary@gmail.com') Email
        li: a(href='http://vizcab.tumblr.com') Portfolio
        li: a(href='https://www.linkedin.com/profile/view?id=AAMAAAAVn2sB2BNhb5qLWlPhsDhmDd4ub8txGsE&trk=hp-identity-name') LinkedIn Profile
        li: a(href='https://twitter.com/50Fitty') 50Fitty Twitter
        li: a(href='http://questmass101.com') QuestMass 101

        // Begin MailChimp Signup Form
        #mc_embed_signup
          form#mc-embedded-subscribe-form.validate(action='//vizcab.us12.list-manage.com/subscribe/post?u=510631967758d21e870f41610&id=6fbd5c05fa', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            #mc_embed_signup_scroll
              .mc-field-group.newsletter-fields
                label.newsletter-label(for='mce-EMAIL') Get the every-once-in-a-while Vizcab newsletter
                .group
                  input#mce-EMAIL.required.email(type='email', value='', name='EMAIL', placeholder="your email")
                  input#mc-embedded-subscribe.button.newsletter-submit(type='submit', value='>', name='subscribe')
              #mce-responses.clear.messages
                #mce-error-response.response(style='display:none')
                #mce-success-response.response(style='display:none')
              // real people should not fill this in and expect good things - do not remove this or risk form bot signups
              div(style='position: absolute; left: -5000px;', aria-hidden='true')
                input(type='text', name='b_510631967758d21e870f41610_6fbd5c05fa', tabindex='-1', value='')
        p.privacy We won't share your email with others or spam you
        script(type='text/javascript', src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js')
        script(type='text/javascript').
          (function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';}(jQuery));var $mcj = jQuery.noConflict(true);
        // End mc_embed_signup
      

    img.headshot(src='/img/michael.jpg')
