extends layout

block head
  link(href='//cdn-images.mailchimp.com/embedcode/classic-081711.css', rel='stylesheet', type='text/css')

block content
  .landing
    .info
      h2 Michael Rowley
      h3 650 455-9183

      ul.links
        li: a(href='mailto:vizcabulary@gmail.com') Email
        li: a(href='http://vizcab.tumblr.com') Portfolio
        li: a(href='https://www.linkedin.com/profile/view?id=AAMAAAAVn2sB2BNhb5qLWlPhsDhmDd4ub8txGsE&trk=hp-identity-name') LinkedIn
        li: a(href='https://twitter.com/50Fitty') @50Fitty
        li: a(href='http://questmass101.com') QuestMass 101

      include _mailchimp

    img.headshot(src='/img/michael.jpg')
