@import '_settings'

normalize-css()
base()

*
  box-sizing: border-box

header
  background-color: $black
  max-height: 75px

body
  background-color: $gray

.wrap
  max-width: 1325px
  margin: 0 auto

.logo
  padding-left: 40px

.landing
  background-color: $white
  group()

.info
  padding-top: 190px
  padding-left: 40px
  float: left
  width: 46%

.headshot
  float: right
  width: 54%
  display: block
